body {
    margin: 0;
}

@mixin button {
    font-size: 20px;
    background-color: #d9d9d9;
    outline: none;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
}

.form {
    width: 100%;
    background-color: #ffe1e1;
    padding: 20px 0px;

    .form-items {
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-bottom: 20px;

        width: 90%;

        .label {
            font-size: 20px;
        }
        .input {
            min-height: 38px;
            outline: none;
            font-size: 20px;
            border: none;
            background-color: #d9d9d9;
            border-radius: 4px;

            &.description {
                resize: vertical;
            }
        }
        .payment-input {
            display: grid;
            grid-template-columns: 2fr 1fr;

            .input {
                min-width: 0;
            }
        }
    }

    .form-upload {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        .upload-button {
            @include button;
            width: 90%;
        }
    }

    .form-buttons {
        display: flex;
        justify-content: space-around;
        .buttons-button {
            @include button;
        }
    }
}

#job-title-select {
    background-color: #d9d9d9;
    border: none;
}

.job-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;

    .no-job {
        text-align: center;
        font-size: 28px;
    }

    .job-item {
        width: 100%;
        box-sizing: border-box;
        background-color: #d9d9d9;
        padding: 10px;

        display: grid;
        grid-template-columns: 1fr minmax(0, 2fr) 1fr;
        gap: 10px;

        .job-box {
            background-color: #ff7272;
            padding: 5px;
        }

        .job-image {
            img {
                width: 100%;
                height: 100%;
            }
        }

        .job-info {
            color: white;

            .title {
                font-size: 24px;
                font-weight: bold;
            }

            .location {
            }

            .description {
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .job-payment {
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .payment {
                font-size: 24px;
            }
        }
    }
}
